body, html
{
	margin:0 0 0 0;
	padding:0 0 0 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background:url('http://132.248.54.13/~unica/img/bg.gif') repeat;
}




h1
{
	text-align:right;
	margin:0 0 15px 0;
	padding:10px 0 5px 0;
	font-size:18px;
	font-weight:normal;
	border-bottom:2px #999999 dotted;
	color:#f7a813;
}

h2
{
	margin:0 0 10px 0;
	padding:0 0 0 0;
	color:#79afe3;
	font-size:17px;
	font-weight:bold;
}






a:active, a:link, a:visited
{
	color:#515151;
	font-weight:none;
	text-decoration:underline;
}

a:hover
{
	color:#333333;
	text-decoration:none;
}

a img, a:link img, a:active img, a:visited img
{
    border:0;
    background:none;
}



div#header
{
	width:1000px;
	text-align:left;

}

div#headInside
{
	text-align:left;

}

div#headL
{
	
	width:220px;
height:175px;
	background:url('http://132.248.54.13/~unica/img/headL.gif') no-repeat;
	float:left;
}

div#headR
{
	float:right;
	width:1000px;
	height:175px;
	background:url('http://132.248.54.13/~unica/img/headR.gif') no-repeat;
	text-align:left;
}

#headBottom
{
	width:1000px;
	height:10px;
	background:url('http://132.248.54.13/~unica/img/botBar.gif');
	clear:both;
	overflow: hidden;
}

div#headBottom
{
	width:1000px;
	height:10px;
	background:url('http://132.248.54.13/~unica/img/botBar.gif');
	clear:both;
	overflow: hidden;
}


div#navMain
{
	position:absolute;
	margin-top:142px;
	margin-left:34px;
}

ul#nav
{
	float:left;
	padding:0;
	margin:0;
	list-style:none;
	list-style-type:none;
}

ul#nav li
{
	float:left;
	margin: 0px;
	display:inline;
}

ul#nav li a
{
	background:url('http://132.248.54.13/~unica/img/tabLeftUp.png') top left no-repeat;
	display:inline;
	margin:0 -10px 0 0;
	text-decoration:none;
    float:left;
	cursor:pointer;
position: relative;
display: block;
}

ul#nav li a:hover
{
	color:#fefefe;
	background:url('http://132.248.54.13/~unica/img/tabLeftOver.png') top left no-repeat;
	cursor:pointer;
}

ul#nav li a span
{
    font-size:13px;
	float:left;
	background:url('http://132.248.54.13/~unica/img/tabRightUp.png') no-repeat right top;
	color:#515151;
	line-height:33px;
	height:33px;
	text-decoration:none;
	margin:0 0 0 9px;
	padding:0 20px 0 13px;
	cursor:pointer;
}
ul#nav li a:hover span
{
	color:#fefefe;
	background:url('http://132.248.54.13/~unica/img/tabRightOver.png') no-repeat right top;
	cursor:pointer;
}


div#bodyMain
{
	background:url('http://132.248.54.13/~unica/img/background.gif') repeat-x top center ;
}

div#mainWrap
{
	width:1000px;
	margin: auto;
	padding-top:0px;
	background:url('http://132.248.54.13/~unica/img/botGrad.gif') no-repeat top center;
}

div#mainWrapInside
{
	width:1000px;
	background:url('http://132.248.54.13/~unica/img/bodyRep.gif') repeat-y top center;
	margin: auto;
}

div#content
{
	float:left;
	width:730px;
	overflow: hidden;
}

div#contentInside
{
}

div.contentTop
{
	display:block;
	height:35px;
	line-height:35px;
	background:url('http://132.248.54.13/~unica/img/contentTop.gif') no-repeat;

}

div.contentTop h2
{
	text-align:left;
	line-height:40px;
	font-size:16px;
	color:#ffffff;
	margin:0 0 0 15px;  /* Color del encabezado o titulo de la pagina */
	padding:0 0 0 0;
	font-weight:bold;
margin-bottom: -5px;
}

div.contentMid
{
	background:url('http://132.248.54.13/~unica/img/contentMid.gif') repeat-y;
	padding-bottom:15px;
}

div.contentText
{
	padding:0 20px;
	text-align:justify;
	color:#034b74;
}

div.contentBot
{
	height:9px;
	width:730px;
	background:url('http://132.248.54.13/~unica/img/contentBot.gif') no-repeat;
}



div#footer
{
	/* background:url('http://132.248.54.13/~unica/img/footerxx.gif') top center no-repeat;  */
	
	width:100%;
	
	color:white;
	
	background-color:#313031;
	background:url('http://132.248.54.13/~unica/img/footer_negro.png');
	background-repeat:no-repeat;
	background-repeat:repeat-x;
	
	
	height:250px;
	
	

}

#pie_contenido {
float:left;
left:480px;
top:30px;
width:450px;

/* background-color:aqua;  */

font-size:small;
font-style:oblique;

	padding-top:20px;
	padding-left:500px;
}



#pie_copyright {
float:left;
font-size:xx-small;
width:900px;
padding-top:35px;
padding-left:50px;

}




#sidebar
{
	float:left;
	width:205px;
	margin-right: 10px;
	overflow: hidden;
	

}

div.sidepanel
{
}

div.sideTop
{
	background:url('http://132.248.54.13/~unica/img/sideTop.gif') no-repeat;
	width:210px;
	height:35px;

}

div.sideTop h2
{
	margin:0 0 0 10px;
	padding:0 0 0 0;
	color:#FFFFFF;
	font-size:16px;
	font-weight:bold;
	text-align:left;
	line-height:40px;
margin-bottom: -5px;

}

div.sideMid
{
	background:url('http://132.248.54.13/~unica/img/sideMid.gif') repeat-y;
	text-align:left;
}

div.sideMid ul
{
    list-style:none;
    padding-left:0px;
    padding-top: 10px;
    padding-bottom:10px;
    margin:0 15px 0 15px;
}

div.sideMid ul li
{
    padding:0;
    margin:0;
}

div.sideMid ul li a
{
    padding:4px 5px;
    display:block;
    border-bottom:1px #999999 dotted;
    text-decoration:none;
    color:#000;
    font-size:13px;
}

div.sideMid ul li a:hover
{
    color:#515151;
    border-bottom:1px #515151 solid;
}


div.sideBot
{
	height:9px;
	width:210px;
	background:url('http://132.248.54.13/~unica/img/sideBot.gif') no-repeat;

}


.sideCats
{
	background:url('http://132.248.54.13/~unica/img/icons/bullet_toggle_plus.png') center left no-repeat;
	text-indent:10px;
}


/* sidebar end */




/* other */

.cleaner
{
	display:block;
	clear:both;
}


/* other */


.applemenu{
margin: 0px 0;
padding: 0;
width: 180px; /*width of menu*/
border: 0px solid #9A9A9A;
}

.applemenu div.silverheader a{

font: normal bold 12px Tahoma, "Lucida Grande", "Trebuchet MS", Helvetica, sans-serif;
color: #034b74;
display: block;
position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
width: auto;
padding: 5px 0;
padding-left: 8px;
text-decoration: none;
    border-bottom:1px #515151 dotted;
}


.applemenu div.silverheader a:visited, .applemenu div.silverheader a:active{
color: #034b74;
}


.applemenu div.selected a, .applemenu div.silverheader a:hover{

color: #ff0000;
}

.applemenu div.submenu{ /*DIV that contains each sub menu*/
background: #fff;
padding: 5px;

}



.submenu{
margin-bottom: 0.5em;
}


a:link {color:#9c0c3b; text-decoration:none;}
a:visited {color:#9c0c3b;text-decoration:none;}
a:hover {color:#9c0c3b;text-decoration:underline;}


