#titulo{
	/*background-color:					blue;*/
	text-align:							center;
	margin-top:							5%;
	margin-bottom:						5%;
	font-size:							150%;
}


	#divFoto{
		position:				relative;
		width:					100%;
	}
	
	.thumb {
		width:					100%;
	 }
	 
	.fondoPantalla{
			width:				100%;
	}
	.imagenFondo{
			width:				100%;
			 z-index: 			-1;
	}
	
	.contenido{
		/*background-color:		blue;*/
		/*font-size:				100%;*/
		position:				relative;
		z-index:				1;
		left:					2%;
		
	}


	input[type=text], input[type=email], textarea, select {
	  width:          100%;
	  padding:        6px 10px;
	  margin:         8px 0;
	  display:        inline-block;
	  border:         1px solid #ccc;
	  box-sizing:     border-box;
	  margin-bottom:  20px;
	}

	input[type=file]{
	  width:          100%;
	  padding:        6px 10px;
	  margin:         8px 0;
	  display:        inline-block;
	}

	input[type=submit]{
	  width:          100%;
	  padding:        6px 10px;
	  margin:         8px 0;
	  display:        inline-block;
	  background-color: #BC2F2A;
	  color:            white;
	  padding:          14px 20px;
	  margin:           8px 0;
	  border:           none;
	  cursor:           pointer;
	  width:            100%;
	}

	span{
		color:           red;
	}

	.formulario{
	  text-align:       left;
	  display:          flex;
	  position:         relative;
	  margin:           0px;
	  padding-top:		20px;
	  width: 100%;
	}


	#divFoto{
	  width:            100%;
	}

	.FondoImagen{
	  color: 			black;
	  height: 			500px;
	  background-size: 	cover;
	}
	h2{
		color:black;
		text-align: center;
		font-weight: 800;
		font-size: 1.5em;
	}
	h2#titulo-form-registro{
		font-size: 2vh;
		padding-top: 25px;
	}
	h2#titulo-form-registro2{
		font-size: 3vh;
		padding-top: 15px;
	}
	h2#titulo-form-registro3{
		font-style: italic;
		font-size: 3vh;
	}
	#cuerpo{
		overflow-y: 		hidden;
		background-repeat: no-repeat;
    	        background-color: lightgrey;
		background-size: cover;
		background-position: center;
		padding-bottom: 30px !important;
	}

	.fondo-blanco {
    background-color: white;
	}
	
	.sin-borde{
		border: none;
	}

	.negritas{
    font-weight: 700;
	}

	.texto-negro{
		color: black;
	}

	.mtop30{
		margin-top: 30px;
	}
	.unica-table{
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.unica-table thead{
		background-color: #1F497D;
		text-align: center;
		color: white;
		font-weight: 700;
	}
	

	.unica-table tbody{
		background-color: #1f497d4d;
	}
	.unica-table tbody a{
		color: #1f497d;
		font-weight: 700;
	}




	#contenedor_principal {
		display: flex;
		flex-direction: column; /* Asegura que los hijos se apilen verticalmente */
		min-height: 100vh; /* Ocupa al menos toda la ventana */
	  }
	  
	  #cuerpo {
		flex: 1; /* Permite que el cuerpo del contenido crezca dinámicamente */
	  }
	  
	  #pie_pagina {
		position: relative; /* El pie de página se comporta como un bloque regular */
		width: 100%; /* Ocupa todo el ancho */
		background-color: #000; /* Asegúrate de que se vea bien */
		color: #fff; /* Ajusta según el diseño */
		padding: 10px 0; /* Espaciado interno */
		text-align: center; /* Centra el texto */
	  }
	  