body {
    display: flex;
    background-color:white;
    justify-content: center;
    align-items: center;
    overflow-x: hidden
    

}
#contenedor_principal {
    background-color:white;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
}

.formulario form{
    width: 100%;
}

#encabezado{
    top: 0px;
    background-color:#fcfdff;
    margin: 0 0 0 0;
    min-height: 120px;
    vertical-align: middle;
    font-weight: bold;
    position: fixed;
    z-index: 1000;
    width: 100%;
    border-top: 1px solid lightgray;
    border-bottom: 1px double lightgray;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#menu_encabezado{
    background-color: white;
    position: absolute; 
    top:120px;
    width: 100%;
    border-top: 2px solid darkgray; 
    border-bottom: 2px double darkgray;
    z-index: 199;
    /* box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/

}

#pie_pagina{
    
    margin: 0 0 0 0;
    height: 50px;
    padding: 0 0 0 0;
    width:  100%;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

   
}


#cuerpo{
    padding-top: 175px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    
}


#logos_superiores{
    padding-left: 0px;
    vertical-align: middle;
}

.botones_redes_sociales {
    padding-top: 0px;
    padding-left: 0px;
    border: 0px;
    cursor: pointer;
    margin: 0px;
    background-color:#fcfdff;



}



#logos_inferiores{
    display: block;
    text-align: center;
    color:white;
    background-color:darkblue;
    padding-top: 10px;
    padding-bottom: 10px;

 
}



#derechos_reservados{
    display: block;
    text-align: center;
    color:white;
    text-align: center;
    background-color:blue;
}


#letrero_unica1{
    font-family: 'Audiowide';font-size:25px;
    font-weight: bold;
    color: darkblue;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    z-index: 200;
    background: white;
    width: 100%;
    height: 120px;
}
.redes_sociaes{
    white-space: nowrap;
}
header h1{
    font-size: 25px;
}
header h1, #header-small h1{
    font-weight: bold;
    font-family: 'Audiowide';
    color: darkblue;
}
#header-small h1{
    font-size: 14px;
}
.oprimible:hover{
    font-weight: 700;
    cursor: pointer;
}

.disabled{
    background-color:  grey !important;
    color:               black !important;
}
.disabled:hover{
    cursor:         auto !important;
}
#header-small{
    display:none;
}


