*{
    margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Yantramanav', sans-serif;
}
form{
    width: 100%;
}
.contenedor, .renglon{
	display: flex;
}
.entrada-texto{
    padding: 10px 0;
}
.entrada-texto , .entrada-texto input{
    width: 100%;
    text-align: center;
}
.entrada-texto input{
    border-radius: 10px;
    padding: 12px;
    border: 1px solid #737769;
}

.boton{
    padding: 5px 10px;
    border-radius: 25px;
    cursor:pointer;
    border: 1px solid #25257c;
    background: #25257c;
    color: #fff;
}
.boton:hover{
    
    border: 1px solid #25257c;
    color: #25257c;
    background: #fff;
}
.imagen img{
    width: 100%;
}
.mensaje{
    position: relative;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    width: 100%;
}
.mensaje.error{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.mensaje.satisfactorio{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.mensaje.preventivo{
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.foto-solicitud img{
    width: 300px;
}

table.encabezado-vertical .encabezado{
    background: rgba(52,73,94,0.94);
    color: #ECF0F1;
}

.fondo-blanco {
    background-color: white;
}

.sin-borde{
    border: none;
}

.negritas{
    color: auto;
    font-weight: 700;
}