h1{
    text-align: center;
    color: #25257c;
    font-family: 'Patua One', cursive;
    padding: 10px;
}
h2{
    padding-bottom: 15px;
}
body{
    background: #dedbde;
}
.contenedor-login{
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.contenedor-total{
    
    height: 100%;
    min-height: 100vh;
}
.contenedor-centro{
    
    width:      30vw;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 15px 0;

}
.login-form{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 15px 0;
    border-bottom: 2px solid #737769;
}
.imagen{
    width: 30%;
    min-width: 190px;
}
.descripcion-sistema{
    width:100%;
    padding: 15px 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

@media all and (max-width: 800px){
    .contenedor-centro{
        width: 50vw;
    }
}

@media all and (max-width: 500px){
    .contenedor-centro{
        width: 80vw;
    }
}
@media all and (max-width: 300px){
    .contenedor-centro{
        width: 100vw;
    }
}